<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="Colorie" Publisher="CN=Microsoft Corporation" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="0cd6b493-db60-4aa8-8b94-16472f85b285" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Colorie</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>Assets\ColorieStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Colorie.App">
      <uap:VisualElements DisplayName="Colorie" Square150x150Logo="Assets\ColorieMedTile.png" Square44x44Logo="Assets\ColorieAppList.png" Description="Colorie" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\ColorieBadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\ColorieWideTile.png" Square310x310Logo="Assets\ColorieLargeTile.png" Square71x71Logo="Assets\ColorieSmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\ColorieSplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>